


{% extends 'AppBundle::sitelayout.html.twig' %}

{% block head_title %}О нас{% endblock %}


{% block body_content %}

<article class="art-post art-article">
            <div class="art-postmetadataheader">
                <h2 class="art-postheader">О нас</h2>
            </div>

            <div class="art-postcontent art-postcontent-0 clearfix">
                <div class="itemBody">
                    <div class="itemFullText">
                        <p><img src="/images/doc/mfz/onas.jpg" width="660" height="456"></p>
                        <p class="gkInfo2" style="text-align: justify;"><span style="color: #8a2be2;">В краевом государственном бюджетном профессиональном образовательном учреждении «Комсомольский-на-Амуре судомеханический техникум имени Героя Советского Союза В.В. Орехова» с 30 октября 2015 года организована работа <strong>МНОГОФУНКЦИОНАЛЬНОГО ЦЕНТРА ПРИКЛАДНЫХ КВАЛИФИКАЦИЙ. </strong></span></p>
                        <p style="text-align: justify;"><img src="/images/doc/mfz/1.jpg" width="200" height="161" alt="1" style="margin: 5px 15px 5px 5px; border: 1px dashed #8a2be2; float: left;">&nbsp; За короткий срок можно овладеть новой профессией. Учиться никогда не поздно, и получить востребованную и высокооплачиваемую профессию можно не только в 18-летнем возрасте. Самый оптимальный вариант для человека, уже состоявшегося в жизни – это стать слушателем краткосрочных курсов.Всего 3 - 4 месяца потребуется для того, чтобы освоить новую специальность (профессию). Согласитесь, совсем немного, учитывая все те возможности, которые открываются перед выпускником после окончания курсов. А это - гибкий график занятий, обучение без отрыва от производства, сильный преподавательский состав, высокий процент трудоустройства, высокая заработная плата.</p>
                        <p style="text-align: justify;">&nbsp; &nbsp;Переучиться или получить профессию парикмахера, бухгалтера, мастер маникюра в Комсомольске-на-Амуре предлагает множество учебных заведений и центров профориентации. Но по-настоящему рынок труда города нуждается <strong>в рабочих профессиях</strong>.</p>
                        <p style="text-align: justify;"><img src="/images/doc/mfz/2.jpg" width="200" height="133" alt="2" style="margin: 5px 5px 5px 15px; border: 1px dashed #8a2be2; float: right;"></p>
                        <p style="text-align: justify;">&nbsp; &nbsp;Промышленные предприятия нуждаются в «золотых руках» - <span style="text-decoration: underline;">токарях</span>, <span style="text-decoration: underline;">электрогазосварщиках</span>, <span style="text-decoration: underline;">фрезеровщиках</span>, <span style="text-decoration: underline;">слесарях</span>, <em>электромонтерах</em> и многих других профессиях, без которых развитие многих отраслей экономики попросту встало бы.&nbsp;</p>
                        <p style="text-align: justify;">&nbsp; О необходимости всемерной поддержки рабочих профессий говорится на самом высоком уровне.</p>
                        <p style="text-align: justify;">&nbsp; Повысить престиж <strong>РАБОЧЕЙ ПРОФЕССИИ</strong> – один из приоритетов государственной политики.</p>
                        <p style="text-align: justify;">&nbsp; Другое дело, чтобы овладеть такой профессией, образовательные учреждения Хабаровского края предлагают затратить на это годы учебы. Но как быть, если у тебя уже есть семья, которую нужно содержать, или нет времени ждать, когда новая специальность нужна здесь и сейчас? В МФЦ ПК КГБ ПОУ КМСТ разработаны программы краткосрочного обучения по рабочим профессиям. Сегодня здесь широко представлены образовательные программы для той категории слушателей, которые желают получить профессию востребованную на предприятиях города. Качественное образование на краткосрочных курсах привлекает не только молодых людей, получающих первую профессию, но и пользуется спросом у тех, кто желает получить вторую специальность и сменить место работы.</p>
                        <table style="margin-left: auto; margin-right: auto;">
                            <tbody>
                            <tr>
                                <td><img src="/images/doc/mfz/3.jpg" width="406" height="268" alt="3" style="border: 1px dashed #8a2be2;"></td>
                                <td><img src="/images/doc/mfz/4.jpg" width="400" height="268" alt="4" style="border: 1px dashed #8a2be2;"></td>
                            </tr>
                            </tbody>
                        </table>
                        <p>&nbsp;</p>
                        <div class="gkCode1">
                            <p><span style="font-size: 12pt; color: #8a2be2;"><strong>Руководство МФЦ ПК:</strong></span></p>
                            <p>- Гореликова Евгения Игоревна&nbsp;– заместитель директора по управлению МФЦ ПК.</p>
                            <p>- Елена Александровна Гарипова – инженер по подготовке кадров.</p>
                            <p><strong>Электронная почта: <a href="mailto:mfc_smtkms@mail.ru">mfc_smtkms@mail.ru</a></strong></p>
                            <p>&nbsp;</p>
                        </div>				</div>
                    <div class="itemLinks">
                        <div class="itemLinksLeft">
                            <div class="itemCategory">
                                <span>Опубликовано в</span>
                                <a href="/index.php/2015-12-02-12-01-02/o-nas/itemlist/category/114-mnogofunktsionalnyj-tsentr">Многофункциональный центр</a>
                            </div>
                        </div>
                        <div class="itemLinksRight">
                        </div>
                    </div>
                </div>

            </div>


        </article>
{% endblock %}