{% extends 'AppBundle::sitelayout.html.twig' %}

{% block head_title %}

{% endblock %}

{% block head_additions %}

    <meta name="description" content="">
{% endblock %}




{% block body_content %}
    <div class="page-header"><h1> пока нет ниечего</h1></div>


{% endblock %}