<div class="page-header">
    <h1>{% if dish is not empty %}
            <a target="_blank" href="#" title="Открыть на сайте">{{ dish.caption|e }}  <span class="glyphicon glyphicon-link"></span></a>
        {% else %}Новое блюдо{% endif %}
    </h1>
</div>