<div id="footer">
    <div class="container">
        <div class="row" >
            <div class="col-sm-6">
                <h5>Информация</h5>

            </div>
            <div class="col-sm-6">
                <h5>Дополнительно</h5>
                <ul class="list-unstyled">

                </ul>
            </div>
        </div>
    </div>
</div>