{% if notice == 'added' %}
    <h4>Блюдо добавлено</h4>
    <p>Новое блюдо <b>"{{ caption|e }}"</b> была успешно добавлено.</p>
{% endif %}
{% if notice == 'changed' %}
    <h4>Блюдо изменено</h4>
    <p>Изменения блюда <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'unpublished' %}
    <h4>Блюдо снято с публикации</h4>
    <p>Изменения блюда <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'published' %}
    <h4>Блюдо опубликовано</h4>
    <p>Изменения блюда <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'commenthided' %}
    <h4>Комментарий скрыт</h4>
{% endif %}

{% if notice == 'commentshow' %}
    <h4>Комментарий подтвержден</h4>
{% endif %}


