{% if notice == 'added' %}
    <h4>Ингридиент добавлен</h4>
    <p>Новый ингридиент <b>"{{ caption|e }}"</b> был успешно добавлен.</p>
{% endif %}
{% if notice == 'changed' %}
    <h4>Ингридиент изменен</h4>
    <p>Изменения ингридиента <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'unpublished' %}
    <h4>Ингридиент снят с публикации</h4>
    <p>Изменения ингридиента <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'published' %}
    <h4>Ингридиент опубликован</h4>
    <p>Изменения ингридиента <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}



