{% if notice == 'added' %}
    <h4>Параметр добавлен</h4>
    <p>Новый параметр <b>"{{ caption|e }}"</b> был успешно добавлен.</p>
{% endif %}
{% if notice == 'changed' %}
    <h4>Параметр изменен</h4>
    <p>Изменения параметра <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}
{% if notice == 'unpublished' %}
    <h4>Параметр снят с публикации</h4>
    <p>Изменения параметра <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}

{% if notice == 'published' %}
    <h4>Параметр опубликован</h4>
    <p>Изменения параметра <b>"{{ caption|e }}"</b> были успешно сохранены.</p>
{% endif %}



