{% if notice == 'user_added' %}
    <h4>Пользователь добавлен</h4>
    <p>Новый пользователь {{ username|e }} был успешно добавлен.</p>
{% endif %}
{% if notice == 'user_changed' %}
    <h4>Пользователь изменен</h4>
    <p>Изменения пользователя {{ username|e }} были успешно сохранены.</p>
{% endif %}
{% if notice == 'user_sames' %}
    <h4>Пользователь существует</h4>
    <p>Пользователь с таким email уже существует</p>
{% endif %}