{% extends 'AppBundle::layout.html.twig' %}

{% block head_title %}Восстановление доступа{% endblock %}
    {% block head_additions %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
    {% endblock %}

{% block body_content %}
    <div class="signin center-block">
        <h2 class="form-signin-heading">Восстановление доступа</h2>
        На указанный email был выслан новый пароль. <a href="{{ url('site_security_login') }}">Войти на сайт</a>
    </div>
{% endblock %}




