@font-face {
   font-family: Roboto;
   src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
   font-family: Monly-Bold;
   src: url(../fonts/Monly-Bold.otf);
}



html,body{
   width:100%;
   margin:0;
   padding:0;
   font-family:'Roboto', sans-serif;
}

.filter-item {
   background-color:#f6f5f5;
   padding:10px 20px;
   border-bottom:1px solid #e1e1e1;
}

.filter-item .caption {
   font-size: 17px;
   color: #2f2c2e;
   font-weight: bold;
   cursor:pointer;
}

.filter-item .symbol {
   position:absolute;
   right:20px;
   font-size: 25px;
   line-height: 25px;
}

.filter-item .values {
   padding-top:10px;
   max-height:280px;
   overflow: auto;
   margin-right:-5px;
}
.filter-item .range {
   padding-left:20px;
   padding-right:20px;
   margin-bottom:30px;
   max-height:unset;
   overflow: unset;
}

.filter-item .value {
   margin-bottom:5px;
   margin-right:5px;
   margin-left:1px;
}

.filter-item .value label{
   font-size: 14px;
   padding:10px 10px;
   width:100%;
   cursor:pointer;
   margin:0;
}


.filter-item .value .value-value-count{
   display:block;
   font-size:14px;
   color:#878585;
   float:right;
}

.filter-item .active {
   background-color: #ffffff;
   color:#878585;
}

.filter-item .active .value-title{
   text-decoration: line-through;
}

.filter-item .active.green .value-title{
   color: #bc3e20;
   text-decoration: none;
}

.filter-item.green .value-title{
   color: #bc3e20;
}

.filter-item .active-green .value-title:after{

}

.filter-item input[type=checkbox] {
   /*display:none;*/
}

#filter_btn {
   margin-bottom: 10px;
}

.section {
   max-height:1000px;
}

.image-fon-main {
   position:absolute;
   z-index:-1;
   width:100%;
   height:100%;
   max-height:990px;
   top:0;
   right:0;
   left:0;
   margin:auto;
   background-image: url("../images/background.jpg");
}

.image-fon {
   position:absolute;
   z-index:-1;
   width:100%;
   height:100%;
   max-height:990px;
   top:0;
   right:0;
   left:0;
   margin:auto;
   background-image: url("../images/background-2.png");
   background-repeat: repeat;
}

#mask {
   background-color:rgba(0,0,0,0.4);
   height:100%;
   width:100%;
   top:0;
   left:0;
}

#mask-white {
   background-color:rgba(255,255,255,0.6);
   height:100%;
   width:100%;
   top:0;
   left:0;
}

.main-header {
   margin-top:34%;
   text-transform: uppercase;
   margin-bottom:5%;
   font-family: Monly-Bold, 'Roboto', sans-serif;
}

.with-back {
   color:white !important;
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   font-size:36px;
   border-radius: 5px;
   text-transform: uppercase;
   font-family: Monly-Bold, 'Roboto', sans-serif;
   background-color: #BC3E20;
}

.with-out-back {
   padding-left:20px;
   padding-top:10px;
   padding-bottom:10px;
   font-size:36px;
   text-transform: uppercase;
   font-family: Monly-Bold, 'Roboto', sans-serif;
}

.text-main {
   margin-top:40px;
   font-size:24px;
}

h1, h2, h3, h4 {
   color:black;
}



.text-white, .text-white>h1 {
   color:white;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.btn, .btn-lg, .nav-tabs>li>a {
   border-radius:0;
}

.nav-tabs {
   border-bottom:none;
}

.main-header h1 {
   font-size:150px;
   color:white;
}

.main-header h2 {
   font-size:45px;
}

.navbar-buttons {
   margin-top:10px;

}
.navbar-buttons>.btn {
   margin-left:10px;
   margin-right:10px;
}

.timeeat-outer {
   position:relative;
}

.timeeat {
   background-color: #bc3e20;
   color:white;
   text-align:center;
   padding-top:5px;
   padding-bottom:5px;
   margin-left:-15px;
   margin-right:-30px;
   margin-top:57%;
}

.daymenu {
   background-color: white;
   border:#bc3e20 1px solid;
}

#filter {
   border:#bc3e20 1px solid;
}

.dish {

   margin:10px !important;
   padding:10px;
}

.imagedish {

}

.oneeat {
   border-bottom: #bc3e20 1px solid;
   height:225px;
}

.titledish {
   border-bottom: #bc3e20 1px solid;

}

.titledish h3 {
   margin-top:10px !important;
   margin-bottom:0 !important;
   font-size:20px;
}

.desciptiondish {
   margin-top:10px;
}

.dishes {
   padding-left:60px;
   padding-right:60px;
}

.owl-nav {
   top:0;
   width:100%;
   height:100%;
   position:absolute;
   margin:0;
   z-index:-1;
}

.owl-theme .owl-nav [class*=owl-]{
   color:#d9d9d9 !important;
   margin:0;
}

.owl-prev{
   position:absolute;
   left:-5%;
   height:100%;
   font-size: 30px!important;
}
.owl-next{
   position:absolute;
   right:-5%;
   height:100%;
   font-size: 30px!important;
}

.owl-theme .owl-nav [class*=owl-]:hover{
   background: unset !important;
   color:#323130 !important;

}

.owl-theme .owl-nav [class*=owl-]:focus{
   border:none;
   outline:none;
}

.owl-theme .owl-nav [class*=owl-]:hover {

}

.day-tab {
   color:black;
   font-size:18px;
}

.no-margins {
   margin:0!important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   text-shadow: unset;
}

.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
   background-color: unset;
   border-color: #bc3e20;
}

.nav>li>a:hover {
   color:#2f2c2e;
}

.imagedish {
   width:250px;
   height:180px;
}

.imagedish img {
   width:100%;
   height:100%;
   object-fit: cover;

}

.navbar-nav>li>a {
   color:white;
   font-family: 'Roboto', sans-serif;
   font-size: 20px;
   cursor:pointer;
}

.navbar-nav>li>a:hover {
   color:white;
   text-decoration: underline;
   background-color:unset;
}

.navbar-nav>li>a {
   padding-top:10px;
   padding-bottom:10px;
   margin-top:10px;
}



.text-main .text {
   margin-bottom:30px;
}

.text-main .mainimg {
   float:right;
   width:500px;
   height:auto;
   margin-top:-230px;
}

.btn-warning {
   background-color: #bc3e20;
   border-color: #bc3e20;
}

.btn-warning:hover,.btn-warning:hover {
   background-color: #d58512;
   border-color: #d58512;
}

.navbar-nav>li>a:focus {
   color:white;
   text-decoration: underline;
   background-color:unset;
   border:unset;
   outline:unset;
}

.navbar-my-inverse>li>a, .navbar-my-inverse>li>a:hover, .navbar-my-inverse>li>a:focus {
   color:black;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   border-top: #bc3e20 1px solid;
   border-left: #bc3e20 1px solid;
   border-right: #bc3e20 1px solid;
}

.page-header {
   border-bottom: #bc3e20 1px solid;
}

h3>a,h3>a:hover,h3>a:focus {
   color:black;
}

.mainimage img {
   width:100%;
   height:100%;
}
.paramheader {
   font-size:24px;
   font-weight: bold;
   border-bottom:#bc3e20 1px solid;
   margin-bottom:10px;
}
.daymenu {
 min-height:250px;
   padding:15px;
}

.title-wow {
   text-decoration: underline;
   font-size:32px;
   text-align:center;
   text-decoration-color: #bc3e20 ;
   text-decoration-skip: none;
   margin:10px;

}

.description-wow {
   text-align:center;
   color:black;
   font-size:18px;
   margin-bottom:20px;
}

.featureimage {
   text-align:center;
   height:100px;
}
.featureimage img{
   height:100%;
   width:auto;
}

.header-3 {
   padding-top:20px;
   color: #bc3e20;
   font-size:50px;
   margin-top:60px;
   margin-bottom:60px;
}