@font-face {
   font-family: Roboto;
   src: url(../fonts/Roboto-Regular.ttf);
}



html,body{
   width:100%;
   margin:0;
   padding:0;
   font-family:'Roboto', sans-serif;
}

.filter-item {
   background-color:#f6f5f5;
   padding:10px 20px;
   border-bottom:1px solid #e1e1e1;
}

.filter-item .caption {
   font-size: 17px;
   color: #2f2c2e;
   font-weight: bold;
   cursor:pointer;
}

.filter-item .symbol {
   position:absolute;
   right:20px;
   font-size: 25px;
   line-height: 25px;
}

.filter-item .values {
   padding-top:10px;
   max-height:280px;
   overflow: auto;
   margin-right:-5px;
}
.filter-item .range {
   padding-left:20px;
   padding-right:20px;
   margin-bottom:30px;
   max-height:unset;
   overflow: unset;
}

.filter-item .value {
   margin-bottom:5px;
   margin-right:5px;
   margin-left:1px;
}

.filter-item .value label{
   font-size: 14px;
   padding:10px 10px;
   width:100%;
   cursor:pointer;
   margin:0;
}


.filter-item .value .value-value-count{
   display:block;
   font-size:14px;
   color:#878585;
   float:right;
}

.filter-item .active {
   background-color: #ffffff;
   color:#878585;
}

.filter-item .active .value-title{
   text-decoration: line-through;
}

.filter-item .active.green .value-title{
   color: green;
   text-decoration: none;
}

.filter-item.green .value-title{
   color: #878585;
}

.filter-item .active-green .value-title:after{

}

.filter-item input[type=checkbox] {
   /*display:none;*/
}

.section {
   height:100vh;
   max-height:1000px;
}

.image-fon-main {
   position:absolute;
   z-index:-1;
   width:100%;
   height:100%;
   max-height:990px;
   top:0;
   right:0;
   left:0;
   margin:auto;
   background-image: url("../images/background.jpg");
}

.main-header {
   margin-top:30%;
   text-transform: uppercase;
   margin-bottom:45%;
}

h1, h2, h3, h4 {
   color:black;
}

.text-white, .text-white>h1 {
   color:white;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.nav-tabs {
   border-bottom:none;
}

.main-header h1 {
   font-size:50px;
}

.main-header h2 {
   font-size:45px;
}

.navbar-buttons {
   margin-top:10px;

}
.navbar-buttons>.btn {
   margin-left:10px;
   margin-right:10px;
}

.timeeat-outer {
   position:relative;
}

.timeeat {
   background-color: #bb641e;
   color:white;
   text-align:center;
   padding-top:5px;
   padding-bottom:5px;
   margin-left:0;
   margin-right:-30px;
   border-radius: 0 5px 5px 0;
   margin-top:57%;
}

.daymenu {
   background-color: white;
}

.dish {

   margin:10px !important;
   padding:10px;
}

.imagedish {

}

.oneeat {
   border-bottom: #bb641e 1px solid;
   height:225px;
}

.titledish {
   border-bottom: #bb641e 1px solid;

}

.titledish h3 {
   margin-top:10px !important;
   margin-bottom:0 !important;
   font-size:20px;
}

.desciptiondish {
   margin-top:10px;
}

.dishes {
   padding-left:60px;
   padding-right:60px;
}

.owl-nav {
   top:0;
   width:100%;
   height:100%;
   position:absolute;
   margin:0;
   z-index:-1;
}

.owl-theme .owl-nav [class*=owl-]{
   color:#d9d9d9 !important;
   margin:0;
}

.owl-prev{
   position:absolute;
   left:-5%;
   height:100%;
   font-size: 30px!important;
}
.owl-next{
   position:absolute;
   right:-5%;
   height:100%;
   font-size: 30px!important;
}

.owl-theme .owl-nav [class*=owl-]:hover{
   background: unset !important;
   color:#323130 !important;

}

.owl-theme .owl-nav [class*=owl-]:focus{
   border:none;
   outline:none;
}

.owl-theme .owl-nav [class*=owl-]:hover {

}

.day-tab {
   color:white;
   text-shadow: 1px 2px 3px rgba(0,0,0,0.3);
}

