{% extends 'AppBundle:Mail:layoutmail.html.twig' %}

{% block mailcontent %}
    <tr>
        <td style='text-align:left;'>
            <br />
            Только что Вы зарегистрировались на сайте <a href='#'>сервиса "Че похавать?"</a>.<br />
        </td>
    </tr>
    <tr>
        <td style='text-align:left;'>
            <br />
            При регистрации Вы указали следующие данные: <br />
            Имя пользователя: {{ login|e }}<br />
            Пароль: {{ password|e }}<br />
        </td>
    </tr>
{% endblock %}