{% extends 'AppBundle:Mail:layoutmail.html.twig' %}

{% block mailcontent %}
    <tr>

        <td style='text-align:left;'>
            <br />
            Только что Вы запросили новый пароль <a href='#'>Чепохавать?</a>.<br />
        </td>
    </tr>
    <tr>
        <td style='text-align:left;'>
            <br />
            Ваши данные для входа на сайт: <br />
            Имя пользователя: {{ login|e }}<br />
            Пароль: {{ password|e }}<br />
        </td>
    </tr>
{% endblock %}